<div class="full">
    <div class="container">
        <p id="login-label">Sign In</p>
        <form class="centered login-box" (submit)="login()">
            <label for="username" >Username</label>
            <input [(ngModel)]="username" name="username" type="text" />
            <label for="password" >Password</label>
            <input [(ngModel)]="password" name="password" type="password" />
            <button id="login-button" class="button-boxy-1 green" type="submit">Sign in</button>
        </form>
        <div class="centered signup-box">
            <p>Don't have an account? <a href="/signup">Sign up now.</a></p>
        </div>
    </div>
</div>
