#signup-label {
    text-align: center;
    font-weight: lighter;
    font-size: 28px;
    margin-bottom: 20px;
}

.full {
    animation: 0.5s in-from-right;
}

label {
    display: block;
}

.centered {
    // vertical-align: middle;
    margin: auto;
}

.signup-box, .login-box {
    width: 300px;
    padding: 20px;
    background-color: rgb(248, 248, 248);
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.signup-box > * {
    margin-bottom: 12px;
}

.signup-box input {
    width: 100%;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    outline: none;
    box-sizing: border-box;
}

.signup-box input:focus {
    border: 1px solid rgb(0, 140, 255);
}

.container {
    height: 100%;
    margin-top: 35px;
}

#signup-button {
    width: 100%;
    font-family: system-ui;
    font-size: 14px;
    height: 35px;
    line-height: 16px;
    margin: 0;
    margin-top: 10px;
    box-sizing: border-box;
}

.login-box {
    margin-top: 15px;
    text-align: center;
    height: -moz-fit-content;
    height: fit-content;
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
    white-space: nowrap;
    background-color: white;
}

.login-box a {
    text-decoration: none;
    color: #1000ff;
}

.login-box > * {
    margin: 0;
}