<div>

  <app-account-settings *ngIf="edit" [id]="customer_id" [data]="userProfile" (update)="refreshPage($event)" (editProfile)="editProfile()"></app-account-settings>
  <div *ngIf="!edit" class="profile-container">
    <h1>My Account</h1>
    <div class="profile-alignment">
      <div class="profile-avatar">
        <img src="../../assets/img/userprofile/profile.png" alt="" />
        <p>{{name}}</p>
        <p>{{email}}</p>
      </div>
      <div class="profile-info-editable">
        <div><p>First name: </p><input disabled=true value={{userProfile.firstName}}/></div>
        <div><p>Last name: </p><input disabled=true value={{userProfile.lastName}}/></div>
        <div><p>Email: </p><input disabled=true value={{userProfile.email}}/></div>
        <div><p>Birthdate: </p><input disabled=true value={{userProfile.birthdate}} type="date"/></div>
        <div class="button-container">
          <button (click)="editProfile()" class="button-boxy-1 grey">Edit</button>
        </div>
      </div>
    </div>
  </div>

  

  <div class="profile-container">
    <div class="filter-container">
      <button (click)="filterButton()">Filter</button>
      <div *ngIf="showFilter">
      <ul *ngFor="let type of filter">
        <li><button (click)="sortPortfolio(type)">{{type}}</button></li>
      </ul>
    </div>
    </div>
    <table>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Ticker</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
      </tr>
      <tr *ngFor="let portfolio of userPortfolio">
        <td>{{portfolio.name}}</td>
        <td>{{portfolio.ticker}}</td>
        <td>{{portfolio.price}}</td>
        <td>{{portfolio.quantity}}</td>
      </tr>
    </table>
  </div>
</div>