<div>

  <app-account-settings *ngIf="edit" [id]="customer_id" [data]="userProfile" (update)="refreshPage($event)" (editProfile)="editProfile()"></app-account-settings>
  <div *ngIf="!edit" class="profile-container">
    <h1>My Account</h1>
    <div class="profile-alignment">
      <div class="profile-avatar">
        <img src="../../assets/img/userprofile/profile.png" alt="" />
        <p>{{name}}</p>
        <p>{{email}}</p>
      </div>
      <div class="profile-info-editable">
        <div><p>First name: </p><input disabled=true value={{userProfile.firstName}}/></div>
        <div><p>Last name: </p><input disabled=true value={{userProfile.lastName}}/></div>
        <div><p>Email: </p><input disabled=true value={{userProfile.email}}/></div>
        <div><p>Birthdate: </p><input disabled=true value={{userProfile.birthdate}} type="date"/></div>
        <div class="button-container">
          <button (click)="editProfile()" class="button-boxy-1 grey">Edit</button>
        </div>
      </div>
    </div>
  </div>

  

  <div class="profile-container">


    
    <table>
      <tr>
        <th scope="">Name
          <button (click)="chosenFilter('name')">
            <img class="filter-button" src="../../assets/img/down-arrow.png" alt="" />
          </button>
        </th>
        <th scope="">Ticker
          <button (click)="chosenFilter('ticker')">
            <img class="filter-button" src="../../assets/img/down-arrow.png" alt="" />
          </button>
        </th>
        <th scope="">Price
          <button (click)="chosenFilter('price')">
            <img class="filter-button" src="../../assets/img/down-arrow.png" alt="" />
          </button>
        </th>
        <th scope="">Quantity
          <button (click)="chosenFilter('quantity')">
            <img class="filter-button" src="../../assets/img/down-arrow.png" alt="" />
          </button>
        </th>
      </tr>




      <tr *ngFor="let portfolio of userPortfolio">
        <td class="table-content">
          <!-- add route here for specific fund -->
          <a href="">{{portfolio.name}}</a>
        </td>
        <td class="table-content">{{portfolio.ticker}}</td>
        <td class="table-content">{{portfolio.price}}</td>
        <td class="table-content">{{portfolio.quantity}}</td>
      </tr>
    </table>
  </div>
</div>