.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgb(194, 194, 194);
  padding: 70px;
}

h1 {
  margin: 0;
  margin-bottom: 25px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.profile-alignment {
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 5px;
  padding-top: 20px;
}

.profile-info-editable {
  padding: 30px;
  padding-top: 15px;
}

.profile-info-editable > div {
}

.profile-info-editable > div > * {
  display: inline-block;
}

.profile-info-editable > div > p {
  width: 80px;
  margin: 10px;
  margin-right: 20px;
}

.profile-info-editable input {
  width: 200px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgb(158, 158, 158);
  outline: none;
}

.profile-info-editable input:focus {
  border: 1px solid rgb(0, 140, 255);
}

.profile-avatar {
  display: flex;
  flex-direction: column;
  width: 20%;
  padding: 0 85px;
}

.profile-avatar img {
  width: 15vw;
  border-radius: 200px;
}

.profile-avatar p {
  text-align: center;
}

.profile-avatar p:nth-child(2) {
  margin-bottom: -10px;
  font-size: 16pt;
  font-weight: bold;
}

.filter-container {
  width: 75vw;
  padding-left: 5px;
}

.filter-container button {
  border-radius: 5px;
  padding: 2px 10px;
}

.filter-container ul li button {
  background: none;
  border: none;
}

table {
  width: 75vw;
  border: 1px solid rgb(194, 194, 194);

  th {
    padding: 2vh;
  }
  td {
    border: 1px solid rgb(194, 194, 194);
    text-align: center;
    padding: 8vh 2vw;
  }
}

table tr:nth-child(1) {
  background-color: maroon;
  text-align: center;
  color: white;
}

table tr th:nth-child(1) {
  width: 15%;
}

table tr th:nth-child(2) {
  width: 10%;
}

table tr th:nth-child(3) {
  width: 15%;
}

table tr th:nth-child(4) {
  width: 5%;
}
