<div class="scroll">

  <app-account-settings *ngIf="edit" [id]="customer_id" [data]="userData.ClientProfile" (update)="refreshPage($event)" (editProfile)="editProfile()"></app-account-settings>
  <div style="text-align: center;">
    <h1 *ngIf="view === 'Account'">My Account</h1>
    <h1 *ngIf="view === 'Billing'">My Billing</h1>
    <label class="switch"> 
      <input type="checkbox" (click)="toggleView()"> 
      <div class="slider round"></div> 
    </label> 
  </div>
  <div [ngSwitch]="view">
    <div *ngSwitchCase="'Account'">
      <div *ngIf="!edit" class="profile-container">
        <div class="profile-alignment">
          <div class="profile-avatar">
            <img src="../../assets/img/userprofile/profile.png" alt="" />
            <p>{{userData?.ClientProfile.firstName}}</p>
            <p>{{userData?.ClientProfile.email}}</p>
          </div>
          <div class="profile-info-editable">
            <div><p>First name: </p><input disabled=true value={{userData?.ClientProfile.firstName}}/></div>
            <div><p>Last name: </p><input disabled=true value={{userData?.ClientProfile.lastName}}/></div>
            <div><p>Email: </p><input disabled=true value={{userData?.ClientProfile.email}}/></div>
            <div><p>Birthdate: </p><input disabled=true value={{userData?.ClientProfile.birthdate}} type="date"/></div>
            <div class="button-container">
              <button (click)="editProfile()" class="button-boxy-1 grey">Edit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-billing [userData]="userData" *ngSwitchCase="'Billing'"></app-billing>
  </div>

  

  <div class="profile-container">


    
    <table>
      <tr>
        <button (click)="chosenFilter('name')"><th scope="">Name
            <img 
            [ngClass]="arrow[0] ? 'filter-button' : 'filter-button-flip' "
            src="../../assets/img/down-arrow.png" alt="" />
        </th>
      </button>
      <button (click)="chosenFilter('ticker')">
        <th scope="">Ticker
            <img
             [ngClass]="arrow[1] ? 'filter-button' : 'filter-button-flip' "
              src="../../assets/img/down-arrow.png" alt="" />
        </th>
      </button>
      <button (click)="chosenFilter('price')">
        <th scope="">Price
            <img [ngClass]="arrow[2] ? 'filter-button' : 'filter-button-flip' " src="../../assets/img/down-arrow.png" alt="" />
        </th>
      </button>
      <button (click)="chosenFilter('quantity')">
        <th scope="">Quantity
            <img [ngClass]="arrow[3] ? 'filter-button' : 'filter-button-flip' " src="../../assets/img/down-arrow.png" alt="" />
        </th>
      </button>
      <button (click)="chosenFilter('total')">
        <th scope="">Total
            <img 
            [ngClass]="arrow[4] ? 'filter-button' : 'filter-button-flip' " src="../../assets/img/down-arrow.png" alt="" />
        </th>
      </button>
      </tr>
      <tr *ngFor="let portfolio of userPortfolio">
        <td class="table-content">
          <!-- add route here for specific fund -->
          <a href="/receipts/{{userData?.customer_id}}/{{portfolio.fundKey}}">{{portfolio.fundData.name}}</a>
        </td>
        <td class="table-content">{{portfolio.fundData.ticker}}</td>
        <td class="table-content">{{portfolio.fundData.price}}</td>
        <td class="table-content">{{portfolio.quantity}}</td>
        <td class="table-content">${{(portfolio.quantity*portfolio.fundData.price.substring(1)).toFixed(2)}}</td>
      </tr>
    </table>
  </div>
</div>