.scroll {
  opacity: 0;
  animation: 0.25s in-from-right;
  animation-delay: 0.25s;
  animation-fill-mode: forwards;
}

.profile-container {
  display: flex;
  margin-top: 5vh;
  flex-direction: column;
  opacity: 0;
  animation: 0.25s in-from-right;
  animation-delay: 0.25s;
  animation-fill-mode: forwards;
  align-items: center;
  padding: 70px;
  padding-top: 0px;
}

h1 {
  margin: 0;
  margin-bottom: 25px;
  font-family: "roadrunners";
  color: #bf0000;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.profile-alignment {
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 5px;
  padding-top: 20px;
}

.profile-info-editable {
  padding: 30px;
  padding-top: 15px;
}

.profile-info-editable > div {
}

.profile-info-editable > div > * {
  display: inline-block;
}

.profile-info-editable > div > p {
  width: 90px;
  margin: 10px;
  margin-right: 20px;
}

.profile-info-editable input {
  width: 200px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgb(158, 158, 158);
  outline: none;
}

.profile-info-editable input:focus {
  border: 1px solid rgb(0, 140, 255);
}

.profile-avatar {
  display: flex;
  flex-direction: column;
  width: 20%;
  padding: 0 85px;
}

.profile-avatar img {
  width: 15vw;
  border-radius: 200px;
}

.profile-avatar p {
  text-align: center;
}

.profile-avatar p:nth-child(2) {
  margin-bottom: -10px;
  font-size: 16pt;
  font-weight: bold;
}

.filter-container {
  width: 75vw;
  padding-left: 5px;
}

.filter-container button {
  border-radius: 5px;
  padding: 2px 10px;
}

.filter-container ul li button {
  background: none;
  border: none;
}

.filter-button {
  width: 10px;
  filter: brightness(2);
}

.filter-button-flip {
  width: 10px;
  transform: rotate(180deg);
  filter: brightness(2);
}

table {
  width: 75vw;
  border: 1px solid #bdbdbd;
  margin: 0 auto;
  margin-top: 2vh;
  opacity: 0;
  animation: 0.25s in-from-right;
  animation-delay: 0.25s;
  animation-fill-mode: forwards;
  font-weight: bold;
  box-shadow: 5px 10px 5px lightgrey;

  th button {
    position: absolute;
    border: none;
    background: none;
  }
}

.filter-dropdown {
  font-size: 8pt;

  div {
    // position: absolute;
    background-color: white;
    display: flex;
    flex-direction: column;
  }
}

.table-content {
  // border: 1px solid rgb(194, 194, 194);
  padding: 2vh;
  display: flex;
  justify-content: center;
  font-size: 10pt;
  align-items: center;
}

// table tr:nth-child(1) {
//   color: white;
// }

table tr {
  display: flex;
  transform: translate(-2px, -2px);
  width: 100.3% !important;

  button {
    background-color: #bf0000;
    color: white;
    font-weight: bolder;
    border: none;
    font-size: 12pt;
    cursor: pointer;
    align-items: center;
  }
}

table tr:first-child {
  height: 40px;
}

table tr:nth-child(2) {
  width: 100%;
}

table tr button:nth-child(1) {
  display: flex;
  justify-content: center;
  width: 20%;
}

table tr td:nth-child(1) {
  width: 20%;
  justify-content: flex-start;
  a {
    color: black;
  }
}

table tr button:nth-child(2) {
  display: flex;
  justify-content: center;
  width: 20%;
}

table tr td:nth-child(2) {
  width: 20%;
}

table tr button:nth-child(3) {
  display: flex;
  justify-content: center;
  width: 20%;
}

table tr td:nth-child(3) {
  width: 20%;
}

table tr button:nth-child(4) {
  display: flex;
  justify-content: center;
  width: 20%;
}

table tr td:nth-child(4) {
  width: 20%;
}

table tr button:nth-child(5) {
  display: flex;
  justify-content: center;
  width: 10%;
}

table tr td:nth-child(5) {
  width: 10%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-bottom: 10px;
}
/* Hide default HTML checkbox */

.switch input {
  display: none;
}
/* The slider */

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: rgb(175, 0, 0);
}
input:focus + .slider {
  box-shadow: 0 0 1px rgb(175, 0, 0);
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */

.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}

table tr button:nth-child(6) {
  display: flex;
  justify-content: center;
  width: 10%;
}

table tr td:nth-child(6) {
  display: flex;
  justify-content: center;
  width: 12%;
}

td.table-content:nth-child(6) {
  margin: 0 auto;
  padding: 0px 0px;
}

.table-content:nth-child(6) > button {
  width: 50px !important;
  font-weight: 100;
  font-size: 14px;
  height: 25px;
  line-height: 22px;
  background-color: #d30000;
  border: 1px solid #626262;
  box-sizing: border-box;
  border-radius: 25px;
  transition: 0.25s;
}

.table-content:nth-child(6) > button:hover {
  background-color: white;
  color: #d30000;
  border: 1px solid #d30000;
}

.portfolio-row {
  border-bottom: 1px solid lightgrey;
}

.portfolio-row:last-child {
  border: none !important;
}

.nav-buttons {
  margin-bottom: 30px;
}

.nav-buttons > button {
  background: none;
  outline: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  padding-right: 20px;
  padding-left: 20px;
  width: 100px;
  border-radius: 10px;
  padding: 5px;
  height: fit-content;
}

.nav-buttons > button.selected {
  background-color: rgb(175, 0, 0);
  color: white;
}

.nav-buttons > * {
  display: inline-block;
  height: 24px;
}

.divider {
  margin: 0;
  margin-left: 10px;
  margin-right: 10px;
  width: 1px;
  transform: translateY(5px);
  background-color: lightgrey;
}
