<div class="main-container">
  <h2 style="text-align: center;">Sell Fund</h2>
  <div class="main-info">
    <div style="width: 40%;">
      <div class="desc">Ticker: </div>
      <div class="data">{{portfolioSell.fundData.ticker}}</div>
      <div class="desc">Name:</div>
      <div class="data">{{portfolioSell.fundData.name}}</div>
      <div class="desc">Currently Remaining: </div><span class="data">{{addComma(portfolioSell.quantity)}}</span>
      <div class="desc">Remaining Post-sell: </div><span class="data">{{addComma(portfolioSell.quantity-quantitySell)}}</span>
    </div>
    <div style="display:flex; flex-direction: column;width: 40%;">
      <div class="desc">Total Amount to Sell</div>
      <div class="data">${{addComma((portfolioSell.fundData.price.substring(1)*quantitySell).toFixed(2))}}</div>
      <input class="input-field" [(ngModel)]="quantitySell" type="number" id="quantity" name="quantity" min="0" max="{{portfolioSell.quantity}}">
      <div class="button-container">
        <button class="sell-button" (click)="readySell()">SELL</button>
        <button (click)="back($event)" class="cancel-button">Cancel</button>
    </div>
    </div>
  </div>
  <div class="table" style="display: flex; flex-direction: column;">
    <h4>Fund Details</h4>
    <div class="table-header">
      <div *ngFor="let header of headers"> 
        {{header}}
      </div>
    </div>
    <div class="table-content">
      <div> 
        {{portfolioSell.fundData.name}}
      </div>
      <div> 
        {{portfolioSell.fundData.ticker}}
      </div>
      <div> 
        {{portfolioSell.fundData.assetClass}}
      </div>
      <div> 
        {{portfolioSell.fundData.expenseRatio}}
      </div>
      <div> 
        {{portfolioSell.fundData.ytd}}
      </div>
      <div> 
        {{portfolioSell.fundData.priceChange}}
      </div>
      <div> 
        {{portfolioSell.fundData.sinceInception}}
      </div>
      <div> 
        {{portfolioSell.fundData.oneyr}}
      </div>
      <div> 
        {{portfolioSell.fundData.fiveyr}}
      </div>
      <div> 
        {{portfolioSell.fundData.tenyr}}
      </div>
      <div> 
        {{portfolioSell.fundData.price}}
      </div>
    </div>
  </div>

</div>