<div class="main-container">
  <h2 class="selling-fund-title" style="text-align: center;">Sell Fund</h2>
  <div class="main-info">
    <div style="width: 40%;">
      <div class="desc">Ticker: </div>
      <div class="data">{{portfolioSell.fundData.ticker}}</div>
      <div class="desc">Name:</div>
      <div class="data">{{portfolioSell.fundData.name}}</div>
      <div class="desc">Currently Remaining: </div><span class="data">{{addComma(portfolioSell.quantity)}}</span>
      <div class="desc">Remaining Post-sell: </div><span class="data">{{addComma(portfolioSell.quantity-quantitySell)}}</span>
    </div>
    <div style="display:flex; flex-direction: column;width: 40%;">
      <div class="desc">Total Amount to Sell</div>
      <div class="data">${{addComma((portfolioSell.fundData.price.substring(1)*quantitySell).toFixed(2))}}</div>
      <input class="input-field" [(ngModel)]="quantitySell" type="number" id="quantity" name="quantity" min="0" max="{{portfolioSell.quantity}}">
      <div class="button-container">
        <button class="sell-button" (click)="readySell()">Sell</button>
        <button (click)="back($event)" class="cancel-button">Cancel</button>
    </div>
    </div>
  </div>
  <div class="divider"></div>
  <div class="table" style="display: flex; flex-direction: column;">
    <h4 style="margin-top: 0">Fund Details</h4>
    <div class="table-header">
      <div *ngFor="let header of headers"> 
        <span>{{header}}</span>
      </div>
    </div>
    <div class="table-content">
      <div> 
        <p>{{portfolioSell.fundData.name}}</p>
      </div>
      <div> 
        <p>{{portfolioSell.fundData.ticker}}</p>
      </div>
      <div> 
        <p>{{portfolioSell.fundData.assetClass}}</p>
      </div>
      <div> 
        <p>{{portfolioSell.fundData.expenseRatio}}</p>
      </div>
      <div> 
        <p>{{portfolioSell.fundData.ytd}}</p>
      </div>
      <div> 
        <p>{{portfolioSell.fundData.priceChange}}</p>
      </div>
      <div> 
        <p>{{portfolioSell.fundData.sinceInception}}</p>
      </div>
      <div> 
        <p>{{portfolioSell.fundData.oneyr}}</p>
      </div>
      <div> 
        <p>{{portfolioSell.fundData.fiveyr}}</p>
      </div>
      <div> 
        <p>{{portfolioSell.fundData.tenyr}}</p>
      </div>
      <div> 
        <p>{{portfolioSell.fundData.price}}</p>
      </div>
    </div>
  </div>

</div>