.container {
    height: 100%;
    width: 69vw;
    background-color: #f7f7f7;
    padding: 43px;
    position: relative;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0 0 12px #c5c5c5;
    margin-bottom: 5vh;
    animation: 0.25s in-from-right;
}
.row{
    display: flex;
}

.col{
    height: 100%;
    padding: 20px;
    flex: 1;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

.vert {
    top: 50%;
}

.icon {
    height: 40px;
}

.m-auto {
    margin: auto;
}

.depositBtn {
    color: white;
    background-color: rgb(18, 151, 0);
    cursor: pointer;
    margin-top: 20px;
    margin-left: 10px;
    transition: 1s;
    border: none;
    padding: 5px 8px 5px 8px;
}

.depositBtn:hover {
    background-color: rgb(0, 216, 0);
    content: '/Now';
}

.sideDivider {
    border-right: rgba(128, 128, 128, 0.116) 1px solid ;
}

input {
    padding: 5px 8px 5px 8px;
    border: 1px solid lightgrey;
    outline: none;

    &:focus {
        border: 1px solid rgb(0, 106, 206);
    }
}