.fund-main {
    padding: 50px;
    animation: 0.5s in-from-top;
}

.fund-main.hide {
    animation: 0.5s out-to-right;
    animation-fill-mode: forwards;
}

.page-title {
    margin: 0;
    margin-bottom: -5px;
    font-size: 42px;
    font-weight: lighter;
    color: #a7a7a7;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#price, #price-change {
    display: inline-block;
}

#price-change {
    margin-left: 10px;
    word-spacing: -2px;
}

.header-large {
    font-size: 56px;
    margin: 0;
}

.header-med {
    font-size: 36px;
    margin: 0;
}

.header-small {
    font-size: 28px;
    margin: 0;
}

.header-smallest {
    font-size: 18px;
    margin: 0;
}

.buttons {
    width: fit-content;
}

.buttons > * {
    margin: 0;
}

.buttons > *:first-child {
    margin-right: 8px;
}

#price-change.red {
    color: red;
}

#price-change.green {
    color: rgb(0, 177, 0);
}

.chart-container {
    width: 800px;
    height: 400px;
    margin-top: 20px;
    margin-right: 50px;
}

#performance-chart {
    border: 1px solid #ebebeb;
}

.centered {
    margin: auto;
    text-align: center;
}

.data-container {
    text-align: center;
}

.data-container > * {
    display: inline-block;
}

.data-container-nested {
    overflow: auto;
    margin-bottom: 50px;
}

.stock-container {
    width: 800px;
    height: 400px;
    overflow-y: scroll;
    border: 1px solid #e7e7e7;
    box-sizing: border-box;
    margin-top: 20px;
    margin-right: 20px;
}

.stock-row {
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

.stock-row.header {
    font-weight: normal;
    background-color: #f10000 !important;
    color: white;
    cursor: unset;
}

.stock-row > * {
    display: inline-block;
    margin: 0;
    margin-left: 20px;
    vertical-align: middle;
    text-align: center;
}

.stock-row:nth-child(odd) {
    background-color: rgb(247, 247, 247);
}

.stock-row:hover {
    background-color: rgb(228, 228, 228);
}

.stock-row > p:first-child {
    width: 300px;
    white-space: break-spaces;
    text-align: left;
}

.stock-row > p:nth-child(2) {
    width: 80px;
}

.stock-row > p:nth-child(3) {
    width: 150px;
}

.stock-row > p:nth-child(4) {
    width: 150px;
}

.stock-row .red {
    color: red;
}

.stock-row .green {
    color: rgb(0, 187, 0);
}