<p class="page-title">{{fund.name}}</p>
<div class="input-container">
    <p>ID: {{fund.id}}</p>
    <!--<div>
        <p>ID:</p><input type="text" value="{{fund.id}}"/>
    </div>-->
    <div class="line">
        <p>Name:</p><input type = "text" value="{{fund.name}}"/>
    </div>
    <div class="line">
        <p>Ticker:</p><input type = "text" value="{{fund.ticker}}"/>
    </div>
    <div class="line">
        <p>Asset Class:</p><input type = "text" value="{{fund.assetClass}}"/>
    </div>
    <div class="line">
        <p>Expense Ratio:</p><input type = "text" value="{{fund.expenseRatio}}"/>
    </div>
    <div class="line">
        <p>Price:</p><input type = "text" value="{{fund.price}}"/>
    </div>
    <div class="line">
        <p>Price Change:</p><input type = "text" value="{{fund.priceChange}}"/>
    </div>
    <div class="line">
        <p>YTD:</p><input type = "text" value="{{fund.ytd}}"/>
    </div>
    <div class="line">
        <p>One Year:</p><input type = "text" value="{{fund.oneyr}}"/>
    </div>
    <div class="line">
        <p>Five Year:</p><input type = "text" value="{{fund.fiveyr}}"/>
    </div>
    <div class="line">
        <p>Ten Year:</p><input type = "text" value="{{fund.tenyr}}"/>
    </div>
    <div class="line">
        <p>Since Inception:</p><input type = "text" value="{{fund.sinceInception}}"/>
    </div>
    <div class="buttons">
        <button class="button-boxy-1 blue" (click)="apply()">Apply</button>
        <button class="button-boxy-1 grey" (click)="back()">Cancel</button>
    </div>
</div>