<div class="titlebar"></div>
<div class="titlebar-overlay">
  <a href="/"><p id="title">RVProtect</p></a> <!--Like "Vanguard" but instead of van it's "RV", and guard -> "Protect"...aw well, at least I thought I was funny :)-->
  <header>
    <a routerLink="/user-portfolio">Portfolio</a>
    <a routerLink="/stocks">Stocks</a>
    <a routerLink="/funds">Mutual Funds</a>
    <a id="profile-button"><img src="../../assets/img/profile-button.jpg"></a>
  </header>
</div>
<div class="container">  
  <main class="main">
    <router-outlet></router-outlet>
  </main>
  <div class="bottom"></div>
</div>

