<div class="titlebar"></div>
<div class="titlebar-overlay">
  <a href="/"><p id="title">RVProtect</p></a> <!--Like "Vanguard" but instead of van it's "RV", and guard -> "Protect"...aw well, at least I thought I was funny :)-->
  <header>
    <a routerLink="/stocks">Stocks</a>
    <a routerLink="/funds">Mutual Funds</a>
    <div *ngIf="dropdown" class="dropdown">
      <div>
        <p>Signed in as</p>
        <p>User12345</p>
        <div class="line"></div>
        <a routerLink="/user-profile" (click)="switch()" >Profile</a>
        <div class="line"></div>
        <a routerLink="/account-settings" (click)="switch()">Account Settings</a>
        <a routerLink="/signout" (click)="switch()">Signout</a>
      </div>
    </div>
    <a id="profile-button"><img (click)="switch()" src="../../assets/img/profile-button.jpg"></a>
</header>
</div>
<div class="container">  
  <main class="main">
    <router-outlet></router-outlet>
  </main>
  <div class="bottom"></div>
</div>

