<div class="scroll">
    <p class="page-title">Create New Fund</p>
    <div class="input-container">
        <div class="line">
            <p>Name:</p><input type = "text"/>
        </div>
        <div class="line">
            <p>Ticker:</p><input type = "text"/>
        </div>
        <div class="line">
            <p>Asset Class:</p><input type = "text"/>
        </div>
        <div class="line">
            <p>Expense Ratio:</p><input type = "text"/>
        </div>
        <div class="line">
            <p>Price:</p><input type = "text"/>
        </div>
        <div class="line">
            <p>Price Change:</p><input type = "text"/>
        </div>
        <div class="line">
            <p>YTD:</p><input type = "text"/>
        </div>
        <div class="line">
            <p>One Year:</p><input type = "text"/>
        </div>
        <div class="line">
            <p>Five Year:</p><input type = "text"/>
        </div>
        <div class="line">
            <p>Ten Year:</p><input type = "text"/>
        </div>
        <div class="line">
            <p>Since Inception:</p><input type = "text"/>
        </div>
        <div class="buttons">
            <button class="button-boxy-1 blue" (click)="add()">Add</button>
            <button class="button-boxy-1 grey" (click)="back()">Cancel</button>
        </div>
    </div>
</div>