<app-loading *ngIf="!loaded"></app-loading>
<div class="scroll">
    <p class="page-title">Stocks</p>
    <div class="search-bar-container">
        <input class="search-bar" type="text" placeholder="Search for a stock..." (keydown)="updateSearch($event)">
    </div>
    <div id="table-stocks">
        <div class="stocks-row header">
            <div class="row">
                <p class="stocks-cell">ID</p>
                <p class="stocks-cell">Name</p>
                <p class="stocks-cell">Ticker</p>
                <p class="stocks-cell">Price</p>
                <p class="stocks-cell">Market Cap</p>
                <p class="stocks-cell"></p>
            </div>
        </div>
        <div *ngFor="let s of stocks" class="stocks-row">
            <ng-container *ngIf="s.inSearch">
                <div class="row" (click)="toggleAccordion(s.id);">
                    <p class="stocks-cell">{{s.id}}</p>
                    <p class="stocks-cell">{{s.name}}</p>
                    <p class="stocks-cell">{{s.symbol}}</p>
                    <p class="stocks-cell">{{s.lastSale}}</p>
                    <p class="stocks-cell">{{s.marketCap}}</p>
                    <img class="stocks-cell" src = "../../assets/img/down-arrow.png">
                </div>
                <div class="stocks-details">
                    <div class="details-scroll">
                        <div class="stock-details">
                            <div class="stock-title">
                                <p>{{s.name}} ({{s.symbol}}) <span [ngClass]="+s.netChange! > 0 ? 'green' : 'red'">{{s.netChange}} ({{s.changePercent}})</span></p>
                            </div>
                            <p><b>Country: </b>{{s.country}}</p>
                            <p><b>Industry: </b>{{s.industry}}</p>
                            <p><b>Sector: </b>{{s.sector}}</p>
                            <p><b>IPO Year: </b>{{s.ipoYear}}</p>
                            <p><b>Market Cap: </b>{{s.marketCap}}</p>
                            <p><b>Volume: </b>{{commas(s.volume)}}</p>
                        </div>
                    </div>
                    <button class="button-boxy-1 blue" (click)="viewstock(s.id); $event.stopPropagation();">Details</button>
                </div>
            </ng-container>            
        </div>
    </div>
</div>