<div class="scroll">
    <p class="page-title">{{stock.name}}</p>
    <div class="container">
        <p>ID: {{stock.id}}</p>
        <div class="line">
            <p>Name:</p><p>{{stock.name}}</p>
        </div>
        <div class="line">
            <p>Price:</p><p>{{stock.lastSale}}</p>
        </div>
        <div class="line">
            <p>Change:</p><p>{{stock.netChange}}</p>
        </div>
        <div class="line">
            <p>Change %:</p><p>{{stock.changePercent}}</p>
        </div>
        <div class="line">
            <p>Market Cap:</p><p>{{'$' + stock.marketCap!.slice(0, -3)}}</p>
        </div>
        <div class="line">
            <p>Country:</p><p>{{stock.country}}</p>
        </div>
        <div class="line">
            <p>IPO Year:</p><p>{{stock.ipoYear}}</p>
        </div>
        <div class="line">
            <p>Volume:</p><p>{{stock.volume}}</p>
        </div>
        <div class="line">
            <p>Sector:</p><p>{{stock.sector}}</p>
        </div>
        <div class="line">
            <p>Industry:</p><p>{{stock.industry}}</p>
        </div>
        <div class="buttons">
            <button class="button-boxy-1 grey" (click)="back()">Back</button>
        </div>
    </div>
</div>