<div class="stock-main">
    <p class="page-title">{{stock?.name}} ({{stock?.symbol}})</p>
    <p id="price" class="header-large">{{stock?.lastSale}}</p>
    <p id="price-change" [ngClass]="'header-small ' + (+stock?.netChange! > 0 ? 'green' : 'red')">{{stock?.netChange}} ({{stock?.changePercent}})</p>
    <!--<p style="margin-top: -4px; color: rgb(175, 175, 175);">Asset Class: {{fund.assetClass}}</p>-->
    <div class="buttons" style="margin-bottom: 50px; margin-top: 20px;">
        <button class="button-boxy-1 grey" (click)="back()">Back</button>
    </div>
    <div class="data-container">
        <div class="data-container-nested">
            <p class="header-large centered" style="font-weight: lighter">Details</p>
            <div class="details-container">
                <div class="line">
                    <p><b>Market Cap:</b> {{stock?.marketCap}}</p>
                </div>
                <div class="line">
                    <p><b>Country:</b> {{stock?.country}}</p>
                </div>
                <div class="line">
                    <p><b>IPO Year:</b> {{stock?.ipoYear}}</p>
                </div>
                <div class="line">
                    <p><b>Volume:</b> {{stock?.volume}}</p>
                </div>
                <div class="line">
                    <p><b>Sector:</b> {{stock?.sector}}</p>
                </div>
                <div class="line">
                    <p><b>Industry:</b> {{stock?.industry}}</p>
                </div>                
            </div>    
        </div>
        <div class="data-container-nested">
            <p class="header-large centered" style="font-weight: lighter">Associated Funds</p>
            <div class="funds-container">
                <div class="fund-row header">
                    <p>Name</p>
                    <p>Asset Class</p>
                    <p>Price</p>
                    <p>10 Year</p>
                </div>
                <div *ngFor="let fund of mutualFunds!" class="fund-row" (click)="viewFund(fund.id)">
                    <p>{{fund.name}} ({{fund.ticker}})</p>
                    <p>{{fund.assetClass}}</p>
                    <p>{{fund.price}}</p>
                    <p>{{fund.tenyr}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div class="scroll">
    <p class="page-title">{{stock?.name}}</p>
    <div class="container">
        <p>ID: {{stock?.id}}</p>
        <div class="line">
            <p>Name:</p><p>{{stock?.name}}</p>
        </div>
        <div class="line">
            <p>Price:</p><p>{{stock?.lastSale}}</p>
        </div>
        <div class="line">
            <p>Change:</p><p [ngClass]="+stock?.netChange! > 0 ? 'green' : 'red'">{{stock?.netChange}}</p>
        </div>
        <div class="line">
            <p>Change %:</p><p [ngClass]="+stock?.netChange! > 0 ? 'green' : 'red'">{{stock?.changePercent}}</p>
        </div>
        <div class="line">
            <p>Market Cap:</p><p>{{(stock?.marketCap ? formatter.format(+stock?.marketCap!).slice(0, -3) : '')}}</p>
        </div>
        <div class="line">
            <p>Country:</p><p>{{stock?.country}}</p>
        </div>
        <div class="line">
            <p>IPO Year:</p><p>{{stock?.ipoYear}}</p>
        </div>
        <div class="line">
            <p>Volume:</p><p>{{(+stock?.volume!).toLocaleString()}}</p>
        </div>
        <div class="line">
            <p>Sector:</p><p>{{stock?.sector}}</p>
        </div>
        <div class="line">
            <p>Industry:</p><p>{{stock?.industry}}</p>
        </div>
        <div class="buttons">
            <button class="button-boxy-1 grey" (click)="back()">Back</button>
        </div>
    </div>
</div>-->