<app-loading *ngIf="load === false"></app-loading>
<div class="transaction-main" *ngIf="load">
    <div class="container">
        <button class="button-boxy-1 grey" (click)="back()">Back</button>
        <h2 class="header" style="text-align: center;">My Transactions</h2>
        <div class="paginationControl">
            <div class="row">
                <button *ngIf="currentPage > 1" class="button" (click)="selectPage(0)"><i class="fas fa-backward"></i></button>
                <button *ngIf="currentPage === (paginationArr.length-2)" class="button" (click)="selectPage(currentPage - 2)">{{ currentPage - 1}}</button>
                <button *ngIf="currentPage !== 0" class="button" (click)="selectPage(currentPage - 1)">{{ currentPage}}</button>
                <button class="button" (click)="selectPage(currentPage)">{{ currentPage + 1}}</button>
                <button *ngIf="(paginationArr.length-1) >= currentPage + 2" class="button" (click)="selectPage(currentPage + 1)">{{ currentPage + 2}}</button>
                <button *ngIf="(paginationArr.length-1) >= currentPage + 3" class="button" (click)="selectPage(currentPage + 2)">{{ currentPage + 3}}</button>
                <button *ngIf="currentPage < paginationArr.length-2" class="button" (click)="selectPage(paginationArr.length - 2)"><i class="fas fa-forward"></i></button>
            </div>
        </div>
        <div>
            <div class="row" *ngFor="let transaction of paginationArr[currentPage]">
                <div class="col" *ngIf="transaction.type === 'purchase'">
                    <h6>{{ transaction.id }}</h6>
                    <h5>Transaction Date: <br><br> {{ dateFix(transaction.createdAt) }}</h5>
                    <p><strong>Type: </strong>{{ transaction.type }}</p>
                    <p><strong>Fund: </strong>{{ transaction.itemDescription }}</p>
                    <p><strong>Quantity: </strong>{{ transaction.quantity }}</p>
                    <p><strong>Available To Sell: </strong>{{ transaction.quantityAvailable }}</p>
                    <p><strong>Price Per: </strong>$ {{ addCommas(transaction.pricePerUnit) }}</p>
                    <p><strong>Total: </strong>$ {{ addCommas(transaction.amount) }}</p>
                    <br>
                    <hr>
                </div>
                <div class="col" *ngIf="transaction.type === 'sell'">
                    <h6>{{ transaction.id }}</h6>
                    <h5>Transaction Date: <br><br> {{ dateFix(transaction.createdAt) }}</h5>
                    <p><strong>Type: </strong>{{ transaction.type }}</p>
                    <p><strong>Fund: </strong>{{ transaction.itemDescription }}</p>
                    <p><strong>Quantity: </strong>{{ transaction.quantity }}</p>
                    <p><strong>Price Per: </strong>$ {{ addCommas(transaction.pricePerUnit) }}</p>
                    <p><strong>Amount Deposited: </strong>$ {{ addCommas(transaction.amount) }}</p>
                    <br>
                    <hr>
                </div>
                <div class="col" *ngIf="transaction.type === 'deposit'">
                    <h6>{{ transaction.id }}</h6>
                    <h5>Transaction Date: <br><br> {{ dateFix(transaction.createdAt) }}</h5>
                    <p><strong>Type: </strong>{{ transaction.type }}</p>
                    <p><strong>Amount: </strong>$ {{ addCommas(transaction?.amount) }}</p>
                    <br>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>