.container {
    height: 100%;
    width: 69vw;
    background-color: #f7f7f7;
    padding: 43px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    box-shadow: 0 0 12px #c5c5c5;
    margin-bottom: 5vh;
    margin-top: 10vh;
}

.transaction-main {
    display: flex;
    flex-direction: row;
}

.row{
    display: flex;
    flex-direction: row;
}

.col{
    height: 100%;
    padding: 20px;
    flex: 1;
}

.button {
    flex: 1;
    margin-right: 5px;
}

.paginationControl button {
    cursor: pointer;
    border-radius: 100%;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    background: #fd2020;
}

.paginationControl input {
    line-height: 2;
    background: none;
    border: none;
    width: 20px;
}

.paginationControl{
    display: flex;
    align-items: center;
    justify-content: end;
    box-sizing: border-box;
}

.header {
    text-align: center;
    margin: 0;
    margin-bottom: 25px;
    font-family: "roadrunners";
    color: #bf0000;
}

.cash {
    color: green
}