<div id="img-banner">
    <div class="banner-content">
        <p class="banner-header">Test your investment knowledge.  Learn something new!</p>
        <button routerLink="/knowledge-test/test" class="test-button">Take the test</button>
    </div>
    <img src="../../assets/img/gallery/investment-test.jpg">
</div>
<div class="about-container">
    <p class="header-1">Assess your knowledge</p>
    <p class="text-small">Our knowledge test will check your understanding of essential investing principles.</p>
    <p class="header-1">Learn something new</p>
    <p class="text-small">We want to sharpen your skills as an investor.  Therefore, if you get an answer wrong on the test, you'll be given the correct answer and an explanation that explains the concept in full detail.</p>
</div>