@font-face {
    font-family: "roadrunners";
    src: url('./assets/fonts/roadrunners.otf');
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

body, html {
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-family: system-ui;
    animation-fill-mode: forwards;
}

.button-boxy-1 {
    padding: 10px;
    width: 100px;
    cursor: pointer;
    border: none;
    font-family: system-ui;
    border-radius: 5px;
    transition: 0.25s;
    color: white;
    margin-left: 7px;
    margin-right: 7px;
}

.button-boxy-1.grey {
    background-color: lightgrey;
    color: black;

    &:hover {
        background-color: rgb(224, 224, 224);
    }
}

.button-boxy-1.blue {
    background-color: #00a6ff;

    &:hover {
        background-color: rgb(107, 208, 255);
    }
}

.button-boxy-1.red {
    background-color: #ff0000;

    &:hover {
        background-color: rgb(255, 71, 71);
    }
}

.button-boxy-1.green {
    background-color: #23ad00;

    &:hover {
        background-color: rgb(0, 228, 11);
    }
}

.button-round-1 {
    padding: 10px;
    width: 160px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 18px;
    background-color: #00a6ff;
    color: white;
    font-family: system-ui;

    &:hover {
        background-color: rgb(107, 208, 255);
    }
}

.button-round-1.blue {
    background-color: #00a6ff;

    &:hover {
        background-color: rgb(107, 208, 255);
    }
}

@keyframes in-from-top {
    from {transform: translateY(-100px); opacity: 0;}
    to {transform: translateY(0); opacity: 1;}
}

@keyframes in-from-top-centered {
    from {transform: translate(-50%, -100px); opacity: 0;}
    to {transform: translate(-50%, 0); opacity: 1;}
}

@keyframes in-from-right {
    from {transform: translateX(100px); opacity: 0;}
    to {transform: translateX(0); opacity: 1;}
}

@keyframes in-from-left {
    from {transform: translateX(-100px); opacity: 0;}
    to {transform: translateX(0); opacity: 1;}
}

@keyframes out-to-left {
    from {transform: translateX(0); opacity: 1;}
    to {transform: translateX(-100px); opacity: 0;}
}

@keyframes out-to-right {
    from {transform: translateX(0); opacity: 1;}
    to {transform: translateX(100px); opacity: 0;}
}

@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fade-out {
    from {opacity: 1;}
    to {opacity: 0;}
}