
.noShow {
    display: none;
}

.show {
    display: block;
}

.overlay {
    position: fixed;
    top: 0;
    width: 100%;
    margin: auto;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1000;
    height: 0;
    opacity: 0;
    transition: opacity 0.4s;
}

.overlay.visible {
    height: 100%;
    opacity: 1;
}

.modalBody {
    background-color: white;
    position: relative;
    padding: 5vh;
    top: 50%;
    transform: translateY(-100%);
    height: min-content;
    width: 450px;
    z-index: 2000;
    margin: auto;
    vertical-align: middle;
    border-radius: 20px;
    opacity: 0;
    transition: 0.4s;
}

.modalBody .line {
    margin-top: 20px;
    margin-bottom: 20px;
}

.modalBody .line > * {
    display: inline-block;
    margin: 0;
}

.modalBody .line > *:first-child {
    margin-right: 8px;
}

.overlay.visible .modalBody {
    opacity: 1;
    transform: translateY(-50%);
}

.modalHeader{
    height: 5vh;
}

.modalBtn {
    position: absolute;
    top: 5px;
    right: 10px;
    height: 5vh;
    background: none;
    color: #b5b5b5;
    font-size: 24px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

hr {
    margin: 0;
}

button:nth-last-child(2) {
    margin-left: 0;
    margin-right: 0;
}

#share-input {
    width: 50px;
    text-align: center;
    padding: 3px;
    border-radius: 5px;
    outline: none;
    border: 1px solid lightgrey;
}

/* share input number arrows always visible */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}