
.noShow {
    display: none;
}

.show {
    display: block;
}

.overlay {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    margin: auto;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1000;
}

.modalBody {
    background-color: white;
    position: relative;
    padding: 5vh;
    top: 25vh;
    height: 50vh;
    width: 50vw;
    z-index: 2000;
    margin: auto;
    vertical-align: middle;
}

.modalHeader{
    height: 5vh;
}

.modalBtn {
    position: absolute;
    top: 0;
    right: 0;
    height: 5vh;
}

hr {
    margin: 0;
}