<div class="overlay container" *ngIf="modalOn">
    <div class="modalBody">
        <div class="modalHeader">
            <h3>Purchase</h3>
            <button class="modalBtn" (click)="toggleModal()">Close</button>
        </div>
        <hr>
        <p>Fund Name: {{ fund.name }}</p>
        <p>Price Per Share: {{ fund.price }}</p>
        <p>Select Quantity to Purchase
            <input name="quantity" type="number" min="0" step="1" [(ngModel)]="quantityToBuy" (change)="checkInt(); addCommas()" />
        </p>
        <p>Total: <span>$ {{ priceString || "0.00" }}</span></p>
        <button (click)="toggleModal()">Cancel</button>
        <button>Purchase</button>
    </div>
</div>
