<div class="main-gallery-container">
    <div class="main-gallery">
        <div><div class="gallery-img" style="background-image: url('../../assets/img/gallery/gallery1.jpg')"></div></div>
        <div><div class="gallery-img" style="background-image: url('../../assets/img/gallery/gallery2.jpg')"></div></div>
        <div><div class="gallery-img" style="background-image: url('../../assets/img/gallery/gallery3.jpg')"></div></div>
        <div><div class="gallery-img" style="background-image: url('../../assets/img/gallery/gallery4.jpg')"></div></div>
    </div>
    <div class="gallery-text">
        <p class="header-1">Your all-in-one platform for investing</p>
        <p class="description-text-1">RVProtect isn't owned by shareholders.  It's owned by the people who invest in themselves.</p>
        <!-- <p class="description-text-1">As an owner, you have access to personalized financial advice, high-quality investments, retirement tools, and relevant market insights that help you build a future for those you love.</p> -->
        <div class="routes">
            <button class="signup-btn"> <a routerLink="/signup"> Sign Up </a></button>
            <button class="login-btn"> <a routerLink="/login"> Log In </a></button>
        </div>
    
    </div>
    <div class="controls">
        <button><img src="../../assets/img/left-arrow.png"/></button>
        <button><img src="../../assets/img/right-arrow.png"/></button>
    </div>

    <div class="floating-box-container">
        <div class="floating-box">
            <ul class="header-3">Navigate to
            <li button class="description-text-3"> <a routerLink="/stocks"> Stocks </a></li>
            <li button class="description-text-3"> <a routerLink="/funds"> Mutual Funds </a></li>
            <li button class="description-text-3"> <a routerLink="/top-picks"> Top Picks </a></li>
            <li button class="description-text-3"> <a routerLink="/portfolio-assessment"> Assess my portfolio </a></li>
            <li button class="description-text-3"> <a routerLink="/knowledge-test"> Test my knowledge! </a></li>
    
            </ul>
        </div>
    </div>

    <div class="content-drawers">
        <p class="header-2">Your interests are our interests</p>
        <p class="description-text-2"> RVProtect will always be loyal to our investors/owners so we always have your best interest in mind.</p>
        <!-- <p class="header-2">Greater conviction</p>
        <p class="description-text-2">Because our investors are our owners, we act with conviction on the investment themes that are important to you. -->
        <p class="header-2">Long-term perspective</p>
        <p class="description-text-2">Because our investors are our owners, we can focus on the long term rather than quarterly results.</p>
        <p class="header-2">Low cost</p>
        <p class="description-text-2">At RVProtect we lower the cost of investing so you keep more of your returns.</p>
    </div>

</div>