<div class="main-gallery-container">
    <div class="main-gallery">
        <div><img src="../../assets/img/gallery/gallery1.jpg"></div>
        <div><img src="../../assets/img/gallery/gallery2.jpg"></div>
        <div><img src="../../assets/img/gallery/gallery3.jpg"></div>
        <div><img src="../../assets/img/gallery/gallery4.jpg"></div>
    </div>
    <div class="gallery-text">
        <p class="header-1">At RVProtect, you're more than just an investor, you're an owner.</p>
    </div>
    <div class="controls">
        <button><img src="../../assets/img/left-arrow.png"/></button>
        <button><img src="../../assets/img/right-arrow.png"/></button>
    </div>
</div>