.page-title {
    text-align: center;
    font-size: 42px;
    font-family: 'roadrunners';
    color: #bf0000;
}

#table-mutual-funds {
    width: fit-content;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.mutual-funds-row {
    padding: 5px;
    border-bottom: 1px solid #d1d1d1;
    position: relative;
    cursor: pointer;
    
    &:hover {
        background-color: rgb(248, 248, 248);
    }
}

.mutual-funds-row.header {
    cursor: text;
    background-color: transparent;
}

.mutual-funds-cell {
    padding: 10px;
    text-align: center;
    padding-right: 50px;
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}

// explicity define table cell widths
.mutual-funds-cell:first-child {
    width: 25px;
    max-width: 25px;
}

.mutual-funds-row.header > .mutual-funds-cell {
    text-align: center !important;
}

.mutual-funds-cell:nth-child(2) {
    width: 400px;
    max-width: 400px;
    text-align: left;
}

.mutual-funds-cell:nth-child(3) {
    width: 30px;
    max-width: 30px;
}

.mutual-funds-cell:nth-child(4) {
    width: 250px;
    max-width: 250px;
}

.mutual-funds-cell:nth-last-child(2) {
    width: 100px;
    max-width: 100px;
    padding-right: 10px;
}

.mutual-funds-cell:last-child {
    width: 50px;
    max-width: 50px;
    padding-right: 30px;
}

.scroll {
    opacity: 0;
    animation: 0.25s in-from-left;
    animation-delay: 0.25s;
    animation-fill-mode: forwards;
}

.mutual-funds-row img {
    cursor: pointer;
    width: 25px;
    height: 25px;
    padding: 10px;
    vertical-align: middle;
    transition: 0.25s;
}

.fund-details {
    padding-left: 50px;
}

.mutual-funds-details {
    display: none;
}