<app-loading *ngIf="!loaded"></app-loading>
<div class="scroll">
    <p class="page-title">Mutual Funds</p>
    <div class="search-bar-container">
        <input class="search-bar" type="text" placeholder="Search for a fund..." (keydown)="updateSearch($event)">
    </div>
    <div id="table-mutual-funds">
        <div class="mutual-funds-row header">
            <div class="row">
                <p class="mutual-funds-cell">ID</p>
                <p class="mutual-funds-cell">Name</p>
                <p class="mutual-funds-cell">Ticker</p>
                <p class="mutual-funds-cell">Asset Class</p>
                <p class="mutual-funds-cell">Price</p>
                <p class="mutual-funds-cell"></p>
            </div>
        </div>
        <div *ngFor="let fund of funds" class="mutual-funds-row">
            <ng-container *ngIf="fund.inSearch">
                <div class="row" (click)="toggleAccordion(fund.id);">
                    <p class="mutual-funds-cell">{{fund.id}}</p>
                    <p class="mutual-funds-cell">{{fund.name}}</p>
                    <p class="mutual-funds-cell">{{fund.ticker}}</p>
                    <p class="mutual-funds-cell">{{fund.assetClass}}</p>
                    <p class="mutual-funds-cell">{{fund.price}}</p>
                    <img class="mutual-funds-cell" src = "../../assets/img/down-arrow.png">
                </div>
                <div class="mutual-funds-details">
                    <div class="details-scroll">
                        <div class="stock-row header">
                            <p>Name</p>
                            <p>Price</p>
                            <p>Change</p>
                            <p>Volume</p>
                        </div>
                        <div *ngFor="let stock of fund.stocks" class="stock-row" (click)="viewStock(stock.id)">
                            <p>{{stock.name}} ({{stock.symbol}})</p>
                            <p>{{stock.lastSale}}</p>
                            <p>{{stock.netChange}} ({{stock.changePercent}})</p>
                            <p>{{stock.volume}}</p>
                        </div>
                    </div>
                    <button class="button-boxy-1 blue" (click)="viewFund(fund.id); $event.stopPropagation();">Details</button>
                    <button class="button-boxy-1 red" style="margin-left: 0" (click)="toggleModal($event); setFund(fund)">Purchase</button>
                </div>
            </ng-container>
        </div>
    </div>
</div>
<app-transaction [fund]="fund"></app-transaction>
